@import 'parts/settings';
@import 'parts/normalize';
@import 'parts/timepicker';
@import 'parts/layout';
@import 'parts/global';

.bginfo {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: .8rem;
    text-align: right;
}