/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/*# sourceMappingURL=normalize.min.css.map */
/**
 * jQuery Timepicker
 * http://timepicker.co
 *
 * Enhances standard form input fields helping users to select (or type) times.
 *
 * Copyright (c) 2016 Willington Vega; Licensed MIT, GPL
 */
.ui-timepicker-container {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box; }

.ui-timepicker {
  box-sizing: content-box;
  display: block;
  height: 205px;
  list-style: none outside none;
  margin: 0;
  padding: 0 1px; }

.ui-timepicker-viewport {
  box-sizing: content-box;
  display: block;
  height: 205px;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  /* IE */ }

.ui-timepicker-standard {
  /* overwrites .ui-widget */
  font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  /* overwrites .ui-widget-content */
  background-color: #fff;
  border: 1px solid #eee;
  color: #221e1f;
  /* overwrites .ui-menu */
  margin: 0;
  padding: 2px; }

.ui-timepicker-standard a {
  border: 1px solid transparent;
  color: #222;
  display: block;
  padding: 0.2em 0.4em;
  text-decoration: none;
  transition: none; }

.ui-timepicker-standard .ui-state-hover {
  /* overwrites .ui-state-hover */
  background-color: #DADADA;
  border: 1px solid #999;
  font-weight: normal;
  color: #212121; }

.ui-timepicker-standard .ui-menu-item {
  /* overwrites .ui-menu and .ui-menu-item */
  /*clear: left;
    float: left;*/
  margin: 0;
  padding: 0; }

.ui-timepicker-corners,
.ui-timepicker-corners .ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.ui-timepicker-hidden {
  /* overwrites .ui-helper-hidden */
  display: none; }

.ui-timepicker-no-scrollbar .ui-timepicker {
  border: none; }

.form-footer {
  margin: 1rem auto 0;
  text-align: center; }
  .form-footer button {
    margin-right: 13px; }
  .form-footer a:link, .form-footer a:visited {
    color: #d60000; }
  .form-footer a:hover, .form-footer a:active {
    color: #481e1e; }

.container {
  position: relative;
  margin: 0 auto; }
  .container.register-login {
    width: 850px;
    top: 25vh;
    background-color: #fff;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4); }
  .container.app-host-lunch {
    padding-top: 190px;
    background-color: unset;
    text-align: center; }
    .container.app-host-lunch input {
      height: 3rem;
      position: relative; }
      .container.app-host-lunch input#group-name {
        width: 240px; }
      .container.app-host-lunch input.timeSelect {
        width: 120px; }
        .container.app-host-lunch input.timeSelect:after {
          content: "\f0d7";
          color: #000;
          padding: 12px 8px;
          position: absolute;
          right: 0;
          top: 0;
          background: red;
          z-index: 1;
          text-align: center;
          width: 10%;
          height: 100%;
          pointer-events: none;
          box-sizing: border-box; }
    .container.app-host-lunch select {
      height: 3rem;
      border: none;
      padding: 0px 11px; }
      .container.app-host-lunch select:required:invalid {
        color: gray; }
      .container.app-host-lunch select option[value=""][disabled] {
        display: none; }
      .container.app-host-lunch select option {
        color: black; }
    .container.app-host-lunch h2 {
      font-size: 2.4rem;
      font-weight: 300;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
      margin-bottom: 1rem;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .container.app-host-lunch button {
      padding: 15px 2rem 14px;
      height: 3rem; }
  .container.groups-wrapper {
    width: 93%;
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4); }
    .container.groups-wrapper .group-container {
      border-bottom: 1px solid #eee;
      padding: 1.6rem 2rem;
      display: flex;
      justify-content: space-between; }
      .container.groups-wrapper .group-container .attendees {
        width: 10%; }
      .container.groups-wrapper .group-container .group-time-range {
        display: flex;
        align-items: center; }
        .container.groups-wrapper .group-container .group-time-range div {
          margin-right: 14px; }
          .container.groups-wrapper .group-container .group-time-range div span {
            margin-right: 5px; }
      .container.groups-wrapper .group-container .btn-join, .container.groups-wrapper .group-container .btn-leave {
        width: 100px; }
      .container.groups-wrapper .group-container .btn-join {
        background-color: #f7be0d; }
        .container.groups-wrapper .group-container .btn-join:hover {
          background-color: #f7be0d; }
      .container.groups-wrapper .group-container .btn-leave {
        background-color: #d50000; }
        .container.groups-wrapper .group-container .btn-leave:hover {
          background-color: #d50000; }
      .container.groups-wrapper .group-container .attendee-list {
        display: flex; }
        .container.groups-wrapper .group-container .attendee-list li {
          margin-right: 7px;
          color: #eee; }
          .container.groups-wrapper .group-container .attendee-list li.host {
            color: #d50000; }
          .container.groups-wrapper .group-container .attendee-list li.occupied {
            color: #d50000; }

.register {
  display: flex;
  flex-wrap: wrap; }
  .register p {
    margin-top: 80px;
    font-family: "Rubik", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 2.2rem;
    clear: both; }
  .register h3 {
    margin-bottom: 1.4rem;
    font-weight: 300;
    font-size: 1rem; }
    .register h3 span {
      font-size: 1.4rem;
      font-style: italic;
      color: #ca1818;
      width: 100%;
      display: block;
      font-weight: 700; }
  .register .notice {
    margin-top: 1rem;
    text-align: center;
    font-size: .8rem;
    color: #999; }
    .register .notice.error {
      color: red; }

.left,
.right {
  width: 50%;
  height: 100%;
  padding: 4rem 3.2rem 2.2rem; }

.right {
  background-color: #f7f7f7; }

.mobile-menu {
  display: none; }

.nav {
  display: block;
  margin-top: 5px; }

@media (max-width: 975px) {
  .container {
    position: relative;
    margin: 0 auto; }
    .container.register-login {
      width: 80%;
      top: 0;
      margin-top: 10%;
      background-color: #fff;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4); }
    .container.app-host-lunch {
      padding-top: 125px; }
      .container.app-host-lunch h2 {
        line-height: 2rem; }
      .container.app-host-lunch input {
        width: 95%; }
        .container.app-host-lunch input#group-name {
          width: 93%; }
    .container.groups-wrapper .group-container {
      display: block;
      position: relative; }
      .container.groups-wrapper .group-container .group-time-range {
        display: block; }
      .container.groups-wrapper .group-container .join-leave {
        float: right;
        position: absolute;
        right: 1.6rem;
        top: 1.6rem; }
  .logo {
    width: 230px; }
  .register .left,
  .register .right {
    width: 100%; } }

@media (max-width: 468px) {
  .mobile-menu {
    display: block; }
  .nav {
    display: none; }
  .container.register-login {
    width: 94%;
    margin: 3%; }
  .register .left, .register .right {
    padding: 2rem; }
  .register p {
    font-size: .9rem;
    line-height: 1.6rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  width: 100%;
  height: 100%; }

body {
  line-height: 1.4;
  color: #333333;
  font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px; }

.site-background {
  background-image: url(../img/lunchmemo-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1; }
  .site-background:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1); }

/**
 * Text Styles
 */
h1, h2, h3, h4, h5 {
  font-family: "Rubik", "Open Sans", Helvetica, Arial, sans-serif; }

a {
  transition: all .4s ease-in-out; }
  a:link, a:visited {
    text-decoration: none; }

label {
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
  color: #777; }

input {
  width: 100%;
  margin-bottom: 7px;
  border: 1px solid #eee;
  padding: 12px;
  outline: none; }

button {
  cursor: pointer;
  padding: 12px 2rem;
  background: #7C5CBF;
  border: none;
  color: #fff;
  font-size: 16px; }
  button:hover {
    background: #6b47b8; }
  button:disabled {
    cursor: default;
    background: #7c5cbf94; }

.btn-red {
  background-color: #d60000; }
  .btn-red:hover {
    background-color: #ca1818; }

ul {
  list-style-type: none; }

.hide {
  display: none;
  opacity: 0; }

header {
  z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.4rem 1.6rem;
  box-shadow: 0px 2px 0px rgba(22, 14, 39, 0.1);
  background-color: #fff; }
  header nav {
    text-align: right; }
    header nav .fa-bars {
      line-height: 50px; }
    header nav .fas {
      color: #f7be0d;
      font-size: 1.2rem; }

.logo {
  margin: 0;
  color: #221e1f;
  text-transform: lowercase;
  font-weight: 300; }
  .logo span.lunch {
    z-index: 1;
    position: relative;
    float: left;
    display: block;
    transform: rotate(-2deg);
    padding: 5px 12px 0 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px; }
    .logo span.lunch:after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 2px;
      left: 0px;
      width: 100%;
      height: 46px;
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
      border-top: 1px solid #eab102;
      border-right: 1px solid #ffe081;
      border-left: 1px solid #ffe081;
      background-color: #ffe081; }
  .logo span.memo {
    z-index: 1;
    position: absolute;
    margin-top: 7px;
    margin-left: -11px;
    font-size: 1.8rem;
    letter-spacing: 1px; }

.bginfo {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: .8rem;
  text-align: right; }
